@page
@model Acme.NoiThatManhHe.Web.Pages.Images.EditModalModel
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Acme.NoiThatManhHe.Web.Pages.Images
@{
    Layout = null;
}
<form asp-page="/Images/EditModal"  enctype="multipart/form-data">
    <abp-modal>
        <abp-modal-header title="Update"></abp-modal-header>
        <abp-modal-body>
            <abp-input  asp-for="Image.Id" />
            <abp-input  asp-for="Image.GenericId" />
            <abp-input type="file" asp-for="Image.Upload" />
            <abp-input asp-for="Image.Description" />
            <abp-input asp-for="Image.Name" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
